import requests

url = f"https://api.telegram.org/bot{BOT_TOKEN}/sendMessage"

r = requests.post(url, data={
    "chat_id": CHAT_ID,
    "text": "TEST LANGSUNG TANPA RSS"
})

print(r.status_code, r.text)
